.App {
  text-align: center;
}

.nav-home{
   margin-right: 10px;
}
.nav-login{
   margin-right: 10px;
}
.nav-register{
   margin-right: 10px;
}
.nav-logout{
   margin-right: 10px;
}
.nav-profile{
   margin-right: 10px;
}

